

main{
    background-color: gainsboro;
    border-radius: 18px;
    margin: 60px;
    padding: 40px;
    min-height: 500px;
}

h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#info{
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    position: absolute;
    bottom: 75px;
    left: 215px;
}

#fotao{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    left:100px;
    bottom:100px;
    box-shadow: 5px 5px 5px grey;
}

#fotao:hover{
    left:104px;
    bottom:96px;
    box-shadow: 2px 2px 5px grey;
}

.btn {
    border-radius: 15px;
    background-color: white;
    border-color: azure;
    color: black;
    font-size:17px;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: outset;
    border-width: 3px;
}

.btn:hover {
    background-color: rgb(115, 0, 223);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight:bold;
    border-style: inset;
    border-width: 3px;
}

#listaQuestoes{
    width: 200px;
    float: right;
}

.Questao{
    margin:10px;
}

/* BG 'ANIMADO' */
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(-45deg, rgb(59, 214, 212), rgb(26, 99, 128),#31519b,#100e7c);
	background-size: 400% 400%;
	animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

